.explore{
  background-color:#F4FAFD; 
  margin-bottom: 130px;
}
section{
  margin: 70px 0;
}
footer{
  padding: 80px 0;
}
/* Responsive Design */
@media only screen and (max-width: 600px) {
  .res-h1{
    padding-top: 10px;
    font-size: 22px;
  }
  .res-text{
    font-size: 12px;
  }
  .res-btn{
    font-size: 12px;
    padding: 5px 10px;
  }
}